.maingrd {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  color: bisque;
}

.picskill {
  width: 80px;
  height: 80px;
  margin: 20px;
  float: left;
}
.desx {
  color: white;
  font-size: large;
  font-family: "Courier New", Courier, monospace;
  margin-top: 20px;
  transition: all 0.5s;
}
.desx:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 100) 12%, #15bcde 200%);
  border: none;
  border-radius: 30px;
  padding: 10px;
}

h2 {
  color: #ffffff;
  text-align: center;
  position: relative; /* Added */
  margin-top: 50px;
  font-size: xx-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2::before {
  content: "";
  width: 20%;
  height: 3px;
  position: absolute; /* Added */
  left: 50%; /* Align to center */
  transform: translateX(-50%); /* Centering */
  top: 47px;
  background-color: white;
}
u{
color: #15bcde;
  padding: 3px;
}
@media (width < 850px) {
  .maingrd {
    display: grid;
    grid-template-columns:  1fr;
    grid-gap: 50px;
    color: bisque;
  }

}