body {
  background-color: black;
  background: url(./componant/Images/bg.jpg);

  background-size: cover;
}

.mainCard {
  background: linear-gradient(180deg, rgba(0, 0, 0, 100) 12%, #15bcde 200%);
  padding: 30px;
  width: 80vw;
  height: 80vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: scroll;
  overflow-x: hidden;
  animation: move 2s;
}

.social {
  margin: 0 auto;
  width: 130%;
}
.e {
  color: #15bcde;
}

.socialicon {
  width: 80px;
  filter: drop-shadow(1px 1px 10px white);
  margin: 10px;
  transition: all 0.5s;
}
.socialicon:hover {
  transform: scale(1.1);

  filter: drop-shadow(1px 1px 10px rgb(0, 255, 204));
}

@keyframes move {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #15bcde;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff99cc;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

@media (width < 750px) {
  .mainCard {
    width: 100vw;
    scale: 0.9;
    transform: translate(-55%, -60%);
     padding: 10px;
  }
    .social {
    margin: 0 auto;
    width: 100%;
    scale: 0.6;
    display: flex;
  }
}
