
.nav-btn {
    color: white;
    font-size: large;
    margin: 10px;
    
  }
 
  .nav-btn:hover {
    color: #15bcde;
  }

  .crs{
    display: none;
}



  @media (width < 500px) {
    .nav-btn {
        color: white;
        font-size: large;
        margin: 10px;
      }
      

      .divRes{
        display: none;
        grid: 1fr;
        row-gap: 20px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 100) 12%, #15bcde 200%);
     box-shadow: 1px 1px 7px rgb(96, 96, 96);
        width: fit-content;
        padding: 20px;
        border-radius: 10px;
        position: absolute;
        z-index: 100;
    
     }
.crs{
    display: block;
    width: 20px;
    color: white;
    position: absolute;
}
.crs:focus ~ .divRes,
.crs:hover ~ .divRes,
.divRes:hover {
    
    display: grid;
    animation: anim 0.5s;
}

@keyframes anim {
    0%{
        width: 0%;
        height: 0%;
    }
    100%{
        width: fit-content;
        height: fit-content;
    }
    
}

      
  }